<div class="text-center">  <h1><bold> ADMIN PAGE </bold></h1> </div>



<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col"># of Items</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>IphoneSeller94</td>
      <td>4</td>
      <td><button type="button" class="btn btn-danger">Danger</button>
</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jane_X09</td>
      <td>13</td>
      <td><button type="button" class="btn btn-danger">Danger</button>
</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry_90</td>
      <td>23</td>
      <td><button type="button" class="btn btn-danger">Danger</button>
</td>
    </tr>
  </tbody>
</table>