<!-- Main jumbotron for a primary marketing message or call to action -->



<style>
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

</style>

<div class="jumbotron" style="background-image: url('images/marketplace.jpg'); background-size:100%";>
          
  <div class="container ">
    <h1 class="display-1 text-white"><strong>Pulga Online! </strong></h1>
      <p class="text-white"><strong>RENT, BUY, and SELL.</strong></p>
        <div id = "item">

<html>
  <head>
    <title>Awesome Search Box</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <!-- Coded with love by Mutiullah Samim-->
  <body>
    <div class="container h-100">
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Search...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </body>
</html>






          
          <nav class="navbar navbar-clear bg-clear">
              <form class="form-inline">
                <input href="videos" class="form-control mr-sm-2 ttex" type="search" placeholder="What Item?" aria-label="Search">
              <button href="videos" role="button" id = "search" class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </nav>
        </div>
  
        <div id = "zip">
          <nav class="navbar navbar-clear bg-clear">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="What's your zipcode?" aria-label="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </nav>  
        </div>
  </div>
</div>
</br>
  <h2 class="text-center pb-5"><strong>Current Market Place</strong></h2>    
  <div class="container">
    <div class="card-columns">
      <% @Item.each do |i| %>
        <div class="card">
          <div class= text-center>
              <img class="card-img-top" src="/images/imgs.jpg" style=" width:100px; height:100px"alt="Card image cap">
          </div>
            <div class="card-body text-center">
              <h5 class="card-title"><%=i.item %> </h5>
              <p class="card-text"> <em>$<%=i.price %></em></p>
               <p class="card-text"> <em>$<%=i.seller %></em></p>
              <a href=<%="ad/"+ (i.id).to_s %> name="id" class=" btn btn-primary">Contact Seller</a>
            </div>
        </div>
      <% end %>
    </div>
</div>
  </div>
</div>

    <hr>










</div> <!-- /container -->