<div>
 <form action ="/seller/create" method="POST">


<div>
<p1>Item: <input type="text" name="Item"></p1><br>
<p1>Description: <input type="text" name="description"></p1><br>
<input type="submit" name="Submit"><br><br><br><br><br>
</div>


</form>
</div>