<link rel="stylesheet" type="text/css" href="style.css" />
<body>
  <br>
  <div>
    <h1 class="text-center">Open your own market place</h1>
    <div class="imgs">
      <div class="col-6">
        <div class="card">
        <img  src="http://martialartsworldnews.com/wp-content/uploads/2017/07/Want-What-Youre-Selling-FT.png">
        </div>
      </div>
    </div>


      <div class=" p-3 font-italic">
        <nobr class= "pr-5"> </nobr>
        <nobr class="pr-5"></nobr>
        <nobr class="pr-5"></nobr>
        <nobr class="pr-5"></nobr>
      </div>

      <div class=padds>
        <div class="col-5">
          <ul class="card bg-info">
            <li>You can sell your items online</li>
            <li>A space for your items 24/7</li>
            <li>Its better than any garage sell out there</li>
            <li>Post 25 items at the same time</li>
          </ul>
        </div>
      </div>

    <form action="/charge" method="post" class="payment botton">
        <article >
          <label class="amount">
            <span ">Amount: $5.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= settings.publishable_key %>"
                data-description="A month's subscription"
                data-amount="500"
                data-locale="auto"></script>
      </form>
  </div>
</body>