<link rel="stylesheet" type="text/css" href="style.css" />
<div class="p-3">
	<img src="https://avatars.mds.yandex.net/get-pdb/938499/43932b0d-b15b-4962-ab61-cc93e0b1b5ed/orig" class="imgs"> 

	<h5>John Castanon</h5>
	<a href="#" class="badge badge-light">Reviews</a>

	<button type="submit" class="btn btn-outline-info">Contact Seller</button>
</div>

<div>
	<img src="https://www.pbtech.co.nz/fileslib/_20170314111851_7500curved.jpg"> 
	<p>LG Tv<p>
	<button type="submit" class="btn btn-danger">Contact Seller</button>


</div>