
  
  <div  class="form-group">
    <label for="exampleFormControlSelect1">Leave A Rating</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Leave A Review</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="How was your experience with the seller?" rows="10"></textarea>
  </div>
</form>


<button type="button" class="btn btn-primary">Submit Review</button>



      </label>
    </article>

  
  </form>